
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-7">
            <h1>About</h1>
            <p>
                Sami ullah is a developer with strong communication skills who seeks to provide software solutions that delight her clients.
                He has enjoyed working with React, Node.js, REST APIs, GraphQL, SQL, MongoDB, and JavaScript recently and is ready to
                start putting her skills to work for you. In addition to her technical background, Cheryl has an MBA and can translate
                your business requirements into quality software solutions.
            </p>

            <div>
                <h3>Skills</h3>
                <ul>
                    <li>Proficient understanding of web verbs, JSON and XML protocols, style sheets, and other web techniques</li>
                    <li>Proficiency in {{ C# | Visual Basic, depending on the specific project }}</li>
                    <li>Experience using .NET {{ 4.5+ | Core }}</li>
                    <li>Experience with single-page apps and dynamic DOM modifications</li>
                    <li>Writing tests with {{ NUnit | XUnit | MSTest }}</li>
                    <li>Proficient knowledge in {{ MSSQL | MySQL | Oracle | other RDBMS }}</li>
                    <li>Experience with code-first {{ or schema-first }} ORMs {{ including Entity Framework }}</li>
                    <li>Understanding of scaling with stateless techniques</li>
                    <li>Experience with hosting in {{ Microsoft Azure, Amazon Web Services, etc. }}</li>
                    <li>Familiarity with {{ Kendo UI | DevExpress | Syncfusion }}</li>
                    <li>Integrating web analytics tools {{ particularly Google Analytics, if applicable }}</li>
                    <li>{{ Make sure to mention any other frameworks, libraries, or other technologies relevant to your project }}</li>
                    <li>{{ List education level or certification you require }}</li>
                </ul>
            </div>

        </div>
        <div class="col-md-3 mb-xl-5 mt-5">
            <img src="~/Content/MyContent/images/sami.jpg" width="400px" height="400px" class="rounded-circle mt-5" />
        </div>
        <div>
            <div>

            </div>
        </div>
    </div>
</div>


