
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <section id="contact" class="contact">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <header class="section-header">
                <h2>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">contact</font>
                    </font>
                </h2>
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Contact Us</font>
                    </font>
                </p>
            </header>
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-geo-alt"></i><h3>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Address</font>
                                    </font>
                                </h3>
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">A108 Adam Street, </font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">New York, NY 535022</font>
                                    </font>
                                </p>
                            </div>
                        </div><div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-telephone"></i><h3>
                                    <font style="vertical-align: inherit;">
                                        <font style=" vertical-align: inherit;">Call Us</font>
                                    </font>
                                </h3><p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">+1 5589 55488 55 </font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">+1 6678 254445 41</font>
                                    </font>
                                </p>
                            </div>
                        </div><div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-envelope"></i><h3>
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email Us</font></font>
                                </h3><p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">info@example.com</font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">contact@example.com</font>
                                    </font>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bi bi-clock"></i>
                                <h3>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Open Hours</font>
                                    </font>
                                </h3>
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Monday - Friday </font>
                                    </font><br><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">9:00AM - 05:00PM</font>
                                    </font>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                            </div>
                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Your email" required="">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="subject" required="">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="10" placeholder="message" required=""></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-outline-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

